
{% load static %}
<!DOCTYPE html> 
<html lang= "es">
    <head>
        <meta charset="utf-8" />
        <title>Recomind</title>
        <meta name= "description" content= "Este es un sitio web de prueba"/>
        <meta name= "author" content= "Recoteam"/>
        <link rel="stylesheet" href="{% static 'color.css'%}">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body class="container mx-auto">
            <a href="http://127.0.0.1:8000" >
                <img href="http://127.0.0.1:8000" src="https://i.imgur.com/LOERwh4.png" class="h-52" />
            
            </a>

           
            <section class="grid grid-cols-1 md:grid-cols-3 gap-3 mb-40 ">

                <!-- Peliculas y series -->
                <article class="relative text-center bg-black">
                    <img 
                        class="h-full object-cover"
                        href="http://127.0.0.1:8000/movies/"
                        src="https://i.pinimg.com/originals/30/22/b5/3022b5f93eefc6c64f2df4e9c2f2349d.jpg"
                        alt="Peliculas y series"
                    >
                    </img>

                    <a  
                        href="http://127.0.0.1:8000/movies/"
                        class="absolute w-full h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 duration-500 flex opacity-0 hover:opacity-100"
                        onmouseover="this.style.backgroundColor = 'rgb(0, 0, 0, 0.5)';"
                        onmouseout="this.style.backgroundColor ='rgb(0,0,0,0)'"
                    >
                        <h1 class="m-auto text-3xl text-white">
                            Peliculas
                        </h1>
                    </a>
                </article>
                
                <!-- Anime -->
                <article class="relative text-center bg-black">
                    <img 
                        class="h-full object-cover"
                        src="media/wallpaperflare.com_wallpaper (2).jpg"
                        alt="Peliculas y series"
                    >
                    </img>

                    <a  
                        href="http://127.0.0.1:8000/animes/"
                        class="absolute w-full h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 duration-500 flex opacity-0 hover:opacity-100"
                        onmouseover="this.style.backgroundColor = 'rgb(0, 0, 0, 0.5)';"
                        onmouseout="this.style.backgroundColor ='rgb(0,0,0,0)'"
                    >
                        <h1 class="m-auto text-white text-3xl">
                            Anime
                        </h1>
                    </a>
                </article>

                <!-- Videojuegos -->
                <article class="relative text-center bg-black">
                    <img 
                        class="h-full object-cover"
                        src="https://4.bp.blogspot.com/-QTRtlAT3xkY/XQ0bLGJX_II/AAAAAAAAHlQ/0gI7kwuEzRgC3IusdZoR6Qqi9ZJSQXX6gCKgBGAs/w2160-h3840-c/halo-infinite-uhdpaper.com-4K-13.jpg"
                        alt="Peliculas y series"
                    >
                    </img>

                    <a  
                        href="http://127.0.0.1:8000/games/"
                        class="absolute w-full h-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex opacity-0 duration-500 hover:opacity-100"
                        onmouseover="this.style.backgroundColor = 'rgb(0, 0, 0, 0.5)';"
                        onmouseout="this.style.backgroundColor ='rgb(0,0,0,0)'"
                    >
                        <h1 class="m-auto text-white text-3xl">
                            Videojuegos
                        </h1>
                    </a>
                </article>

                

            </section>
            
           
        
    </body>
</html>
