{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{seleccion.Nombre}}</title>
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'letras.css'%}">
    <link rel="stylesheet" href="{% static 'color.css'%}">
</head>
<body class="container mx-auto " >
    <a href="http://127.0.0.1:8000" >
        <img href="http://127.0.0.1:8000" src="https://i.imgur.com/LOERwh4.png" class="h-52" />
    
    </a>
    <div class="relative bg-gray-400 rounded">
        <c class="container grid grid-cols-11 place-items-center">
            <div class="col-span-4 grid grid-cols-1" > 
               
                <a>
                    <img src="{{seleccion.Imagen}}"  class=" h-96 m-6 object-cover" alt="imagen">
                </a>
                <h1 class="text-xl letra4 h-10">
                    ⭐ Valoracion: {{seleccion.Valoracion}}
                </h1>
            </div>
            
            
            <div class="col-span-7">
                <a>
                    <h1 class="text-5xl letra6 h-16">
                        <a href="/item/{{seleccion.ID}}" >{{item.Nombre}}</a>
                        <p>{{seleccion.Nombre}}</p>
                    </h1>
                   
                   
                 
                
                <h1 class="text-xl letra4 mx-auto ">
                    <h1 class="text-xl letra4 h-10">
                        Año: {{seleccion.Year}}
                    </h1>

                    
                    {% if seleccion.Tipo.Nombre == "Anime" %}
                        <h1 class="text-xl letra4 h-10">
                            Estudio: {{seleccion.Estudio}}
                        </h1>
        
                    {% endif %}

                    {% if seleccion.Tipo.Nombre == "Videojuego" %}
                        <h1 class="text-xl letra4 h-10">
                            Estudio: {{seleccion.Desarrollador}}
                        </h1>
        
                    {% endif %}
                    
    
                    {% if seleccion.Tipo.Nombre == "Película o Serie" %}
                        <h1 class="h-10 text-xl letra4">
                            Director: {{seleccion.Director}}
                        </h1>
    
                    {% endif %}
                    <h1 class="text-xl letra4 h-10">
                        Categoria: {{seleccion.Categorias}}
                    </h1>
                    {% if seleccion.Tipo.Nombre == "Anime" %}
                        <h1 class="text-xl letra4 h-10">
                            Estado: {{seleccion.Terminado}}
                        </h1>

                        <h1 class="text-xl letra4 h-10">
                            Cantidad de Capitulos: {{seleccion.Cantidad_Capitulos}}
                        </h1>
        
                    {% endif %}

                    
                    
                    
                    <p class="text-xl letra4">
                            {{seleccion.Descripcion}}
                    </p>
                </h1>
            </div>
        </c>
    </div>
</body>
</html>